html {
    background-color: #feffe7;
    size: portrait;
    margin-left: 15%;
    margin-right: 15%;
    font-family: Optima, sans-serif;
}

.container {
    display: flex;
    background-color: #e3e6a2;
    margin: 2%;
}

.boxes {
    display: flex;
    flex-direction: column;
    padding: 10%;
}

#box1 {
    float: left;
    width: 50%;
    height: 50%;
    align-self: center;
}

#box2 {
    float: right;
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    height: 50%;
    align-self: center;
}

#topbox {
    padding-left: 5%;
    padding-right: 5%;
}

h1, h2, h3, p {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}